<div class="form-group w-100">
    <label for="thumb">رابط المصغرة </label>
    <textarea id="thumb" readonly="readonly" rows="2" cols="40" class="form-control"
    style="text-align: center; color:rgb(0, 88, 26)" tabindex="1">
    {{ filePath }}
</textarea>
</div>

<p style="text-align: center; color:rgb(8, 8, 184)"><b>{{ msg1 }}</b></p>
<p style="text-align: center; color:rgb(108, 128, 0)"><b>{{ msg0 }}</b></p>
<!-- <p style="text-align: center; color:firebrick"><b>{{ msg2 }}</b></p>  -->
<p style="text-align: center; color:rgb(95, 0, 19)"><b>{{ msg3 }}</b></p>

<!-- <img name="upimage" src="{{filePath}}" class="img-thumbnail" width="200" height="150"
                style="display:none;" /> -->