{% include "header.html" %}
{% block body %}


<div class="content-wrapper">
    <div class="container-fluid">




        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">بداية لوحة التحكم</a></li>
            <li class="breadcrumb-item"><a href="/getUPAccounts">ادارة سرفرات التحميل</a></li>
            <li class="breadcrumb-item active">سرفرات {{upServers|length }}</li>
        </ol>

        <a href="#" class="btn btn-primary pull-left" data-toggle="modal" data-target="#new_ext_form">
            <i class="fa fa-plus-circle"></i> أضف سرفر جديد </a>


        <div class="clearfix">

        </div>
        <br>

        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}

        <form method="post" action="/updateUPServerOrder/{{upServers|length}}" id="edit_exts_form">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 20px">الرقم</th>
                        <th>ترتيب الاستخدام</th>
                        <th>اسم السيرفر </th>
                        <th>مسار التحميل </th>
                        <th>الخيارات</th>
                    </tr>
                    {% for upserver in upServers %}
                    <tr>
                        <td>{{upserver['up_id']}}</td>
                        <td>
                            <div class="input-group">
                                <input type="text" name="up_order_{{loop.index}}" value="{{upserver['up_order']}}"
                                    class="form-control" style="float:left;">
                                <input type="text" name="up_id_{{loop.index}}" value="{{upserver['up_id']}}"
                                    style="display: none;">
                            </div>

                        </td>
                        <td>{{upserver['up_name']}}</td>
                        <td>{{upserver['up_storePath']}}</td>
                        <td>
                            <a href="/delUPServer/{{upserver['up_id']}}" onclick="return confirm_from();" title=""
                                data-toggle="tooltip" class="btn btn-danger" data-original-title="حذف">
                                <span class="fa fa-trash"></span>
                            </a>
                            <!--                             
                            <a href="#modaledit{{upserver['gd_id']}}" class="btn btn-success btn-xs" data-toggle="modal"
                                dasta-target="#modaledit{{upserver['gd_id']}}">Edit</a> 
                            -->

                            <button type="button" id="editbtn" class="btn btn-success editbtn"> Edit </button>

                            <a href="{{url_for('getUPFiles',ServersID=upserver['up_id'],store_state=0)}}" class="btn btn-primary"  title="">
                                <span> Files </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

            </table>
            <input type="submit" name="editexts" value="موافق" class="btn btn-primary">
            <br>
            <input type="hidden" name="k_form_key" value="f3a8dad58e9be062a078293f0392a5fa9fd67426"><input type="hidden"
                name="k_form_time" value="1642934892">
        </form>

        <br>

        <!-- add new ext -->
        <div id="new_ext_form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addNewExt"
            aria-hidden="true">

            <form method="post" action="/addUPServer" id="add_new_ext--change--">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">اضافة سيرفر جديد</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>اسم السيرفر:</label>
                                <input type="text" class="form-control" name="up_name" placeholder="Uploader1"
                                    aria-label="name">
                            </div>
                            <div class="form-group">
                                <label>ترتيب الاستخدام:</label>
                                <input type="text" class="form-control" name="up_order" placeholder="1"
                                    aria-label="order">
                            </div>
                            <div class="form-group">
                                <label>مسار التحميل:</label>
                                <input type="text" class="form-control" name="up_storePath" placeholder="static/uploads"
                                    aria-label="store">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="sbumit">حفظ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end add new ext -->


        <div id="modaledit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Information</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/updateUPServer" method="POST">
                            <div class="form-group">
                                <label>ID:</label>
                                <input type="text" class="form-control" name="up_id" id="id">
                            </div>
                            <div class="form-group">
                                <label>اسم السيرفر:</label>
                                <input type="text" class="form-control" name="up_name" id="name">
                            </div>
                            <div class="form-group">
                                <label>مسار التحميل:</label>
                                <input type="text" class="form-control" name="up_storePath" id="store">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="sbumit">حفظ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

        <script>
            $(document).ready(function () {

                $('.editbtn').on('click', function () {

                    $('#modaledit').modal('show');

                    $tr = $(this).closest('tr');

                    var data = $tr.children("td").map(function () {
                        return $(this).text();
                    }).get();


                    $('#id').val(data[0]);
                    $('#name').val(data[2]);
                    $('#store').val(data[3]);
                    // $('#gd_order').val(data[4]);
                });
            });
        </script>

    



        <br>
    </div>
    <!-- /.container-fluid -->

</div>

{% endblock %}
{% include "footer.html" %}